.section-services {
    min-height:745px;
}
.section-services .podium {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 3rem
}

.section-services .podium .competence {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 85%;
    flex-shrink: 0;
}

.section-services .podium .competence.developpements {
    width: 40%;
}
.section-services .podium .competence.methodes {
    width: 55%;
}

.section-services .podium .competence .nom {
    font-family: Lato-Bold;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: .3rem;
}

.section-services .podium .competence .slogan {
    font-family: Lato-SemiboldItalic;
    font-size: 1.7rem;
    margin:0;
}

.section-services .podium .competence hr {
    height: 1rem;
    width: 20%;
    border-radius: 2px;
    margin: 1rem 0 3rem 0;
}

.section-services .podium .competence.developpements hr {
    color: #2ba4c2;
    background-color: #2ba4c2;
}

.section-services .podium .competence.methodes hr {
    color: #2bc2a7;
    background-color: #2bc2a7;
}

.section-services .podium .competence .details {
    font-size: 1.3rem;
    font-family:Lato-Regular;
    text-align: center;
    width:80%;
}

.section-services .podium .competence .details p {
    margin-bottom: .3rem;
}

.section-services .podium .competence .illustration {
    flex:1;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
    width: 85%;
}

.section-services .podium .competence .illustration img {
    max-width: 90%;
    max-height: 90%;
}

/* On stack en vertical pour les petites résolutions. */
@media screen and (max-width: 767px) {
    .section-services {
        height: auto;
    }
    .section-services .podium {
        flex-direction: column;
    }
    .section-services .podium .competence {
        height: auto;
        margin-bottom:3rem;
    }
    .section-services .podium .competence.developpements,
    .section-services .podium .competence.methodes {
        width: 100%;
    }
    .section-services .podium .competence hr {
        margin-bottom: 1.5rem;
    }
    .section-services .podium .competence .details {
        width: 65%;
    }
    .section-services .podium .competence .illustration {
        width:50%;
        margin-top: 1.2rem;
    }
}