.section-intro {
    background: url("../images/fond_intro.jpg");
    background-size: cover;
    overflow-x: hidden;
}

.section-intro .accroche {
    margin-bottom: 2rem;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
}

.section-intro .accroche h1 {
    width: 100%;
}

.section-intro .accroche a {
    display: inline-block;
}

.section-intro .podium {
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-left:5%;
    margin-right: 5%;
    min-height: 320px; /* Pour éviter que les bustes passent au-dessus de l'accroche. */
}

.section-intro .podium div {
    z-index: 2;
    width:33%;
    max-width: 380px;
    min-width: 170px;
    position: relative;
}
/* On colle les bustes en bas de section avec du absolute à cause d'IE 11. Si on flexbox, la taille des images ne s'adapte pas. */
.section-intro .podium div img {
    width:100%;
    position: absolute;
    bottom: 0;
}

.section-intro a:hover {
    text-decoration: none;
}

/* En étroit on colle les bustes au bord de l'écran pour qu'il se rapprochent et ne se rétrecissent pas trop. */
@media screen and (max-width: 767px) {
    .section-intro .podium {
        min-height: 230px;
    }
    .section-intro .podium div:first-child {
        position: absolute;
        bottom: 0;
        left:0;
        z-index: 0;
    }
    .section-intro .podium div:last-child {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
    }
}