.section-references .podium {
    flex-direction: row;
}

.section-references .fleche {
    width: 70px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-references #fleche_gauche {
    background: url("../images/fleche_gauche.png") right center no-repeat;
    margin-left: 7px;
}

.section-references #fleche_gauche:hover {
    background-position-x: left;
}

.section-references #fleche_droite {
    background: url("../images/fleche_droite.png") left center no-repeat;
    margin-right: 7px;
}

.section-references #fleche_droite:hover {
    background-position-x: right;
}

.section-references #fleche_gauche, .section-references #fleche_droite {
    background-size: 40px 40px;
    transition: background-position-x .2s ease;
}

.section-references .projets {
    flex: 1;
}
