.section-references .podium {
    flex-direction: row;
}

.section-references .fleche {
    width: 70px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-references .fleche:hover {
    cursor: pointer;
}

.section-references #fleche_gauche {
    background: url("../images/fleche_gauche.png") right center no-repeat;
    margin-left: 20px;
}

.section-references #fleche_gauche:hover {
    background-position-x: left;
}

.section-references #fleche_droite {
    background: url("../images/fleche_droite.png") left center no-repeat;
    margin-right: 20px;
}

.section-references #fleche_droite:hover {
    background-position-x: right;
}

.section-references #fleche_gauche, .section-references #fleche_droite {
    background-size: 40px;
    transition: background-position-x .2s ease;
}

.section-references .projets {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.section-references .projets .projet {
    display: flex;
    height: 100%;
    flex: 1 0 100%;
    order: 2;
}

.section-references .projets .projet .description {
    flex: 4;
    height: 100%;
    margin-left: 20px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:Lato-Regular;
    font-size: 1.4rem;
    padding:0;
}

.section-references .projets .projet .visuel {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:20px; /* Pour que l'ombre des img soit toujours visible. */
}

.section-references .projets .projet .description h4 {
    font-family:Lato-Bold;
    font-size:2rem;
    margin-bottom: 2rem;
}

.section-references .projets .projet .description hr {
    height:1rem;
    background-color: #5498a9;
    color: #5498a9;
    border-radius: 2px;
    align-self: flex-end;
    margin:1rem 0 2rem 0;
    padding: 0;
    width: 25%;
}

.section-references .projets .projet .description .details_techniques {
    text-align: right;
    font-family: Lato-Regular;
    font-size: 1.1rem;
}

.section-references .projets .projet .visuel img {
    max-width: 834px;
    max-height: 626px;
    width:100%;
    box-shadow: 1px 1px 12px #555;
}

.section-references .projets .projet_affiche {
    order: 1;
}

.section-references .projets {
    transform: translateX(100%);
}

.section-references .projets.defilement_inverse {
    transform: translateX(-100%);
}

.section-references .projets.animation_finie {
    transform: none;
    transition: transform 1s cubic-bezier(.23, 1, .32, 1)
}

/** Sous 768px de large, on stack en vertical la description et le visuel */
@media screen and (max-width: 767px) {
    .section-references .projets .projet {
        flex-direction: column;
    }
    .section-references .projets .projet .description {
        margin:0;
        justify-content: flex-start;
        height: auto;
        flex: auto;
    }
    .section-references .projets .projet .visuel {
        justify-content: center ;
        align-content: center;
        margin:0;
    }
    .section-references .projets .projet .visuel img {
        max-width: 400px;
        margin:auto;
    }
    .section-references .fleche {
        width: 35px;
    }
    .section-references #fleche_gauche, .section-references #fleche_droite {
        background-size: 20px;
    }
    .section-references #fleche_gauche {
        margin-left: 10px;
    }
    .section-references #fleche_droite {
        margin-right: 10px;
    }
}
