html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: #5498a9;
    font-family: Lato-Semibold;
}

.navbar {
    background-color: inherit;
    border: none;
    padding: 1rem;
    font-size:1.9rem;
}

.navbar-brand {
    padding-top: .5rem;
}

.accroche {
    text-align: center;
}

.accroche h1 {
    font-family: Lato-MediumItalic;
    font-size: 4rem;
    margin:0 0 2rem 0;
    padding:0;
}

.accroche p {
    font-family: Lato-Semibold;
}

section {
    height:100%;
    padding-top: 120px;
    background-color: #f7f8f9;
    display: flex;
    flex-direction: column;
}

section .container {
    display: flex;
    flex-direction: column;
    height:100%;
}

section .container .podium, section .podium {
    flex: 1;
    display: flex;
}
