html {
    width: 100%;
    height:100%;
}

body {
    width: 100%;
    height:100%;
    font-family: Lato-Semibold;
}

.navbar {
    height:60px;
    padding: .3rem;
    margin: 0;
    font-size:1.9rem;
    border: none;
}

/* Pour le changement de couleur de navbar en douceur. */
.navbar,
.navbar-autre .navbar-nav > .active > a,
.navbar-autre .navbar-nav > .active > a:hover,
.navbar-autre .navbar-nav > .active > a:focus {
    transition: background-color .5s;
}

.navbar-brand {
    margin: 7px 0 0 15px;
    padding:0;
    width: 166px;
    height: 32px;
    overflow: hidden;
}

.navbar-brand img {
    opacity:1;
    width:166px;
    height:32px;
}
.navbar-brand img.masque {
    opacity: 0;
}
.navbar-brand .logo_fonce {
    position:relative;
    top:-32px;
}
navbar-brand img {
    transition: opacity .5s;
}

.accroche {
    text-align: center;
    padding-left:8vw;
    padding-right: 8vw;
}

.accroche h1 {
    font-family: Lato-HeavyItalic;
    font-size: 4.4rem;
    margin:0 0 2rem 0;
    padding:0;
}

.accroche p {
    font-family: Lato-Semibold;
    font-size: 1.7rem;
}

section {
    min-height:100%;
    height: 100%;
    padding-top: 120px;
    background-color: #f7f8f9;
    display: flex;
    flex-direction: column;
}

section .container {
    display: flex;
    flex-direction: column;
    height:100%;
}

section .container .podium, section .podium {
    flex: 1;
    display: flex;
}
