/* Ce fichier contient la responsivité des blocs de structure globaux. */
/* Le contenu responsive de chaque section est défini dans chaque section-*.css */

@media screen and (min-width: 1200px){
    .section-intro { min-height: 740px; }
}
@media screen and (max-width: 1200px) and (min-width: 991px){
    .section-intro { min-height: 660px; }
}
@media screen and (max-width: 991px) and (min-width: 768px){
    .section-intro { min-height: 600px; }
}
@media screen and (max-width: 768px){
    .section-intro { min-height: 550px; }
}